<div class="row">
  <h3>Physics</h3>
  <p>Landmarks in Physics</p>
  <hr>
</div>

<div class="row">
  <div class="col-md-4">
    <h4>One-dimensional motion</h4>
    <p>In this tutorial we begin to explore ideas of velocity and acceleration.
      We do exciting things like throw things off of cliffs (far safer on paper
      than in real life) and see how high a ball will fly in the air.</p>
    </p>
  </div>
  <div class="col-md-8">
    <div class="vid">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/cuKmcq6pu9s" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="row" style="text-align: center">
  <br/><br/>
    <a class="btn btn-success btn-lg" href="/challenges" role="button">Start challenges</a>
</div>