// This is used for main dashboard page

extends /layouts/high-beauty

block content
    article
        header
            h1 gamify dashboard

        section
            h2 This is your gamify dashboard!

            p ok, I kill you ! be afraid !
