<div class="row">
  <div class="page-header">
    <h1>All courses</h1>
  </div>

  <div class="col-xs-18 col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag 'courses/course_physics_thumb_small.png' %>

      <div class="caption center">
        <h4><%= link_to "Physics", courses_physics_path %></h4>

        <p>Projectile motion, mechanics and electricity and magnetism. Solid understanding of algebra and a basic
          understanding of trigonometry necessary.</p>
      </div>

    </div>
  </div>

  <div class="col-xs-18 col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag 'courses/course_math_thumb_small.jpg' %>

      <div class="caption center">
        <h4><a href="#">Mathematics</a></h4>

        <p>Math begins with counting. It's the most important skill we learn in our early years and becomes
          the foundation for all other math concepts.</p>
      </div>

    </div>
  </div>
</div>