<div class="row">
  <h3>Physics</h3>
  <ol class="breadcrumb">
    <li><a href="#">One-dimensional motion</a></li>
    <li class="active">Challenge 1: Rocket-powered</li>
  </ol>
  <hr>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="thumbnail">
      <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxkZWZzLz48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjkyLjQ1MzEyNSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjExcHQ7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L2c+PC9zdmc+" data-holder-rendered="true" style="height: 400px; width: 100%; display: block;">
      <div class="caption">
        <p>This challenge is easy, You just need to play it. Rocket-powered sleds are used to test the human
          response to acceleration. If a rocket-powered sled is accelerated to a speed of 444 m/s in 1.83 seconds,
          then what is the acceleration and what is the distance that the sled travels?</p>
        <p><a href="#" class="btn btn-primary pull-right" role="button">Continue</a></p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>