doctype html
html
  head
    title gamify
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

    body
      header
        nav

      block content

      footer
        |  &copy; gamify

      // Scripts
      script(src='/bower_components/jquery/dist/jquery.min.js')
      script(src='/scripts/main.js')
      script(src='/_api/_files/hoodie.js')
      script(src='//localhost:35729/livereload.js')
      // Script

