
// this layout is used for first design of landing page
// this has a horizontal menu top, cover image, price section and it has a single page style

doctype html
html(lang='en', ng-app='app', ng-controller='Account')
    head
        title gamify landing
        link(href='/styles/main.css', rel='stylesheet')
    body
        header
            nav
        block content
        br
        footer
            | &copy; gamify

        // Scripts
        script(src='/vendor/jquery/dist/jquery.min.js')
        script(src='/vendor/angular/angular.min.js')
        script(src='/vendor/angular-route/angular-route.min.js')

        script(src='/_api/_files/hoodie.js')

        script(src='/scripts/auth/controllers.js')
        script(src='/scripts/auth/auth.js')
        script(src='/scripts/app.js')

        script(src='//localhost:35729/livereload.js')
        // Script
