  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Gamify", root_path, class: "btn btn-lg btn-success", id: "logo" %>
      <div class="nav_item"> <%= link_to "Blog", articles_path, class: "btn btn-default btn-warning" %> </div>
        <div class="nav_item"> <%= link_to "Games", games_path, class: "btn btn-default btn-warning" %> </div>
      <div class="nav_item"> <%= link_to "New Game", new_game_path, class: "btn btn-default btn-warning" %> </div>
    </div>
  </header>