
// this layout is used for first design of landing page
// this has a horizontal menu top, cover image, price section and it has a single page style

doctype html
html
    head
        title gamify landing
    body
        header
            nav
        block content
        footer
            | &copy; gamify
